@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.header__text{
    margin-left: auto;
    margin-right: 25px;
    color: $text;
    span{
        color: $red;
        margin-right: 4px;
    }
    a{
        color: $text;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-registr{
    background-color: $red;
    margin-left: 7px;
}
.header__bottom{
    background-color: $dark;
    a{
        color: #fff;
        line-height: 30px;
        font-size: 14px;
    }
}
.menu__list{
    li{
        margin: 15px 0;
       & + li{
        margin-left: 35px;
    } 
    }
}

// end header

// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding: 160px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 60px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            outline: none;
            &:focus{
                border: 1px solid $green;
            }
            &::placeholder{
                color: #90a4ae;
                padding-left: 25px;
                padding-right: 60px;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 17px;
            top: 17px;
        }
    }
}

// end search

// start products

.products{
    padding: 110px 0;
    background-color: $bg;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        color: $dark;
        font-size: 14px;
        padding: 11px 21px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        outline: none;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    font-weight: 500;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
        background-color: $img;
        }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 90px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        min-width: 300px;
    }
    &-title{
        color: $dark;
        font-size: 18px;
        display: block;
    }
    &-category{
        color: $green;
        font-size: 14px;
        display: block;
    }
    &-price{
        color: $dark;
        font-weight: 700;
        font-size: 20px;
    }
    &-info{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
    }
    &-author{
        color: $text;
        font-size: 14px;
        display: flex;
        align-items: center;
        max-width: 250px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: $img;
            margin-right: 14px;
        }
    }
    &-star{
        font-size: 12px;
        font-weight: 400;
        color: #b0bec5;
        span{
            color: #263238;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        width: 165px;
        min-height: 52px;
        background-color: #fff;
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        margin: 50px 5px 110px;
        cursor: pointer;
        font-size: 16px;
        color: $dark;
        outline: none;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
//start product-slider

.product-slider{
    padding: 110px 0;
    .slick-dots{
        display: block;
        text-align: center;
        margin-top: 35px;
        li{
            border-radius: 50%;
            background-color: #e8e8e8;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }
        .slick-active{
            background-color: #8bc34a;
        }
        li + li{
            margin-left: 7px;
        }
        button{
            font-size: 0;
            border: none;
            padding: 0;
        }
    }
}

//end product-slider
//start advantages

.advantages{
    padding: 110px 0;
    background-color: $dark;
}
.adventages__title{
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
}
.advantages__item{
    text-align: center;
    max-width: 370px;
    padding: 0 20px;
    cursor: pointer;
    &:hover{
        .advantages__item-icon{
            background-color: $green;
            path{
                fill: #fff;
            }
        }
        .advantages__item-title{
            color: $green;
        }
    }
    &-icon{
        height: 114px;
        width: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 40px;
        transition: all .5s;
    }
    &-title{
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 10px;
        transition: all .5s;
    }
    &-descr{
        color: #b0bec5;
        font-size: 15px;
        font-weight: 24;
    }
}

//end adtantages
//start author
.author{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    &-title{
        color: #fff;
        font-size: 30px;
        max-width: 280px;
        line-height: 36px;
        margin-right: 45px;
        span{
            font-weight: 700;
        }
    }
    &-link{
        background-color: #fff;
        font-size: 18px;
        padding: 14px 40px;
    }
}
//end author
//start tutorial
.tutorial{
    padding: 65px 0px 110px;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
}
.tutorial__item{
    width: 370px;
    text-align: center;
    &-img{
        width: 100%;
        height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }
    &-name{
        font-weight: 700;
        font-size: 24px;
        color: #000;
        background-color: #f8f8f8;
        padding: 35px 0;
        width: 100%;
        display: block;
    }
}
//end tutorial